@model Product
@{
    ViewBag.Title = "Product";
}
<!DOCTYPE html>
<html>
<body>
    <h2>
        @Model.Name
    </h2>
    <div>@Model.Name</div>
    <div>@Model.Price.ToString("C")</div>
    <div> @Model.Quantity</div>
    <img src="@Model.Image"/>
    <a href="~/cart/add/@Model.Id" class="btn btn-primary" :>Buy</a>
</body>
</html>
