@model Cart
@{
    ViewBag.Title = "Checkout";
}

<div class="row">
    <a href="~/cart/clear" class="btn btn-danger pull-right">Clear</a>
    <a href="~/cart/transactions" class="btn btn-success pull-left">Transactions</a>

    <table class="table">
        @{
            decimal subTotal = 0;
        }
        @foreach (var order in Model.Orders)
        {
            subTotal += order.Quantity * order.Product.Price;
            <tr>
                <td>
                    <img src="@order.Product.Image" alt="Product Image" height="42" width="42">

                </td>
                <td>
                    @order.Product.Name
                </td>
                <td>
                    @order.Quantity * @order.Product.Price
                </td>
                <td>
                    @subTotal.ToString("C")
                </td>
                <td>
                    <a href="~/cart/remove/@order.Product.Id" class="btn btn-danger btn-block">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td colspan=" 3"></td>
            <td> @Model.Total.ToString("C")</td>
        </tr>
    </table>

    <a href="~/cart/checkout" class="btn btn-success">Checkout</a>

</div>