@model Cart
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <a href="~/cart/clear" class="btn btn-danger pull-right">Clear</a>

    <table class="table">
        @{
            decimal subTotal = 0;
        }
        @foreach (var order in Model.Orders)
        {
            subTotal += order.Quantity * order.Product.Price;
            <tr>
                <td>
                    <img src="@order.Product.Image" alt="Smiley face" height="42" width="42">

                </td>
                <td>
                    @order.Product.Name
                </td>
                <td>
                    @order.Quantity * @order.Product.Price
                </td>
                <td>
                    @subTotal
                </td>
                <td>
                    <a href="~/cart/remove/@order.Product.Id" class="btn btn-danger btn-block">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td colspan=" 3"></td>
            <td> @Model.Total</td>
        </tr>
    </table>

    <a href="~/cart/checkout-do" class="btn btn-success">Checkout</a>

</div>